################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/bin/AnyCPU/Debug
/src/bin/AnyCPU/Release
/src/bin/x64/Debug
/src/bin/x64/Release
/src/obj/
/src/.vs/DoIt/FileContentIndex
/src/.vs/DoIt/v17
